* {
    box-sizing: border-box;
}



body {
    background-color: #ffe2b0;
}

header {
    text-align: center;
    margin-bottom: 20px;

}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;


}

li {
    display: inline;
    margin-right: 100px;

}

nav {
    margin-bottom: 20px;
}

a {
    color:black;
    text-decoration:none;
    font-size: 18px;
    margin-top: 50px;
}



li:last-child {
    margin-right: 0px;
}

.section-about {
    height: 640px;
    background-image: url(../img/01-Картинка-фона.jpg);
    background-position: center;
    background-size: cover;
    position:relative;
    margin-bottom: 20px;

}

.section-about__block {
    width: 420px;
    height: 190px;
    background: linear-gradient(180deg,rgba(244, 213, 178, 0.8) 0%, rgba(234,156,65,0.8)100%);
    position:absolute;
    top: 54%;
    left: 50%;
    text-align: center;
    padding-top: 15px;
}
.section-about__border {
    width: 390px;
    height: 160px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 17px 0 0 28px;
    text-align: left;

}

.section-about__title {
    font-size: 36px;
    margin: 0;
    margin-bottom: 9px;
}

.section-about__text {
    font-size: 12px;
    margin: 0;
}
.section-description__icon-box {
    text-align: center;
    margin-bottom: 20px;

}

img {

}

.section-about {

}

.section-description__icon-box img {
    margin-right: 76px;
}

.section-description__icon-box img:last-child {
    margin-right: 0px;

}

.section-description__title {
    font-size: 96px;
    margin: 0px;
    text-align: center;
}

.red {
    color: red;
}

.section-description__text {
    font-size: 18px;
    margin: 0px;
    text-align: center;
    width: 1000px;
    margin: 0px auto;
}
.div {
    color: black;
}